<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="css/style.css")
        link(rel="stylesheet", href="css/demo.css")
        title Document
    body
        h1 Tooltip Demo

        .md-container-buttons
            button(data-toggle="tooltip",data-title="blah",
                data-description="description" data-direcion="up" id="button-up")
                | Up
            button(data-toggle="tooltip",data-title="wow",
                data-description="description2" data-direcion="left" id="button-left")
                | Left
            button(data-toggle="tooltip",data-title="cat",
                data-description="descriptio3n" data-direcion="right" id="button-right")
                | Right
            button(data-toggle="tooltip",data-title="super!",
                data-description="d3scripti0n" data-direcion="down" id="button-down")
                | Down

            a(href="http://google.com" data-toggle="tooltip",data-title="super!",
                data-description="d3scripti0n" data-direcion="up" id="button-demo")
                | This is a test
            

    script(src="js/app.js")
